#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    padding-bottom: 5px;
}

#clockdiv > div {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 900;
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 5px;
    background: #e62117;
    border: solid #7f0600  1.5px;
    display: inline-block;
    color: #f1f1f1;
    -webkit-box-shadow: #5E6063 0px 0px 5px;
    -moz-box-shadow: #5E6063 0px 0px 5px;
    box-shadow: #5E6063 0px 0px 5px;
}

.smalltext {
    padding-top: 5px;
    font-size: 12px;
    color: #fffff;
    font-weight: normal;
    font-weight: bold;
}



@media screen and (max-width: 420px) {
    #clockdiv > div {
        padding: 4px;
    }

    #clockdiv {
        font-size: 23px;
    }

}



@media screen and (max-width: 420px) {
    #clockdiv > div {
        padding: 4px;
    }

    #clockdiv {
        font-size: 23px;
    }

}

